* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Body background pattern from subtlepatterns.com */
body {
    font-family: "PT Sans", sans-serif;
    background-color: rgb(233,224,197);
    background-image: url('../images/square_bg.png');
}
.cf:after {
    content: "";
    display: block;
    clear: both;
}
.header {
    border-bottom: 1px solid #eee;
    height: 90px;
    line-height: 95px;
    margin-top: 20px;
    padding: 0 48px 0 28px;
}
.header-left {
    float: left;
}
.header-right {
    float: right;
}
#logo-img {
    vertical-align: middle;
}
#page-title {
    font-weight: normal;
    font-size: 54px;
}
.wrapper {
    margin: 1em;
}
.description {
    font-size: 20px;
    margin-bottom:  30px;
    text-align: justify;
}
@media (max-width: 768px) {
    .header {
        line-height: 78px;
    }
    #logo-img {
        width: 172px;
    }
    #page-title {
        font-size: 36px;
    }
    .description {
        font-size: 18px;
    }
}
a.tile-link:hover {
    text-decoration: none;
}
a.home-link {
    color: #444;
}
a.home-link:hover {
    color: #000;
    text-decoration: none;
}
.tile {
    margin-top: 10px;
    border: 2px solid;
    color: white;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 0 2px black;
    transition: all 0.2s;
}
.tile:hover {
    transition: all 0.2s;
    box-shadow: 0 3px 5px black;
}
#tile1 { background-color: rgb(36,0,39);    border-color: rgb(36,0,39);    }
#tile2 { background-color: rgb(175,50,0);   border-color: rgb(175,50,0);   }
#tile3 { background-color: rgb(58,127,72);  border-color: rgb(58,127,72);  }
#tile4 { background-color: rgb(8,39,95);    border-color: rgb(8,39,95);    }
#tile5 { background-color: rgb(175,100,48); border-color: rgb(175,100,48); }

#tile1:hover, #tile2:hover, #tile3:hover, #tile4:hover, #tile5:hover { background-color: white !important;}
#tile1:hover { color: rgb(36,0,39);    border-color: rgb(36,0,39);    }
#tile2:hover { color: rgb(175,50,0);   border-color: rgb(175,50,0);   }
#tile3:hover { color: rgb(58,127,72);  border-color: rgb(58,127,72);  }
#tile4:hover { color: rgb(8,39,95);    border-color: rgb(8,39,95);    }
#tile5:hover { color: rgb(175,100,48); border-color: rgb(175,100,48); }

.preview-image-container {
    min-height: 200px;
    max-height: 250px;
    padding: 3px 1px 0 1px;
    text-align: center;
    overflow: hidden;
}
.preview-image {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    transition: all 0.2s;
    transform: scale(1);
}
/*
.tile:hover .preview-image {
    transition: all 0.2s;
    transform: scale(1.2);
}
@media (min-width: 768px) {
    .tile:hover .preview-image.stay-left {
        transform: scale(1.2) translate(7%, 0);
    }
}*/

.tile h2 {
    text-align: center;
}
.tile:hover h2 {
    text-decoration: none;
}
.tile p {
    display: none;
}
.breadcrumb li{
    position: relative;
}
.sub-breadcrumb {
    list-style: none;
    display: none;
    background-color: #f5f5f5;
}
.sub-breadcrumb li {
    padding: 10px;
    text-align: right;
}
.breadcrumb > li:hover .sub-breadcrumb {
    position: absolute;
    right: 0;
    display: block;
}

.footer {
    margin-top: 100px;
}
